.parent {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto auto;
    padding: auto;
    }

    @media screen and (max-width:800px){
        .parent{
            grid-column: 1;
            grid-template-rows: 4;
        }
    }